@model DiemNgoaiKhoa.Models.Point

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ và tên: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Fullname)
        </dd>
        <dt class = "col-sm-2">
            Học kỳ:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester.Name)
        </dd>
        <dt class = "col-sm-2">
            Tiêu chí và nội dung:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointFrame.Name)
        </dd>
        <dt class = "col-sm-2">
            Điểm sinh viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointStudent)
        </dd>
        <dt class = "col-sm-2">
            Điểm lướp trưởng:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointMonitor)
        </dd>
        <dt class = "col-sm-2">
            Điểm giảng viên:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointLecturer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
