@model IEnumerable<DiemNgoaiKhoa.Models.Class>

@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create">Thêm mới</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                   Tên lớp
                </th>
                <th>
                    Giảng viên
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lecturer.Fullname)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Cập nhật</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Thông tin chi tiết</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<table class=" table table-sm">
        @foreach(var claim in User.Claims)
        {
            <tr>
                <td>@claim.Value</td>
                <td>@claim.Type</td>
            </tr>
        }
    </table>*@
}
