@model IEnumerable<DiemNgoaiKhoa.Models.PointFrame>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mục
            </th>
            <th>
               Nội dung và tiêu chí
            </th>
            <th>
                Điểm tối đa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDetail.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPoint)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Cập nhật</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
