@model DiemNgoaiKhoa.Models.Lecturer

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn chắc chắn muốn xóa dữ liệu?</h3>
<div>
    <h4>Giảng viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ và tên: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            Ngày sinh:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            Giới tính:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>
        <dt class = "col-sm-2">
            Số điện thoại:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Tài khoản:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Username)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
